<footer class="container-fluid pt-5">
   <div class="container pb-5">
      <div class="row auto">

         <div class="col-md-3 col-sm-12 py-2">
            <div class="list-group">
               <a href="/home" class="footer-list list-group-item list-group-item-action">
                Home
              </a>
               <a href="/about" class="footer-list list-group-item list-group-item-action">About us</a>
               <a href="/contact us" class="footer-list list-group-item list-group-item-action">Contact Us</a>
            </div>
         </div>

         <div class="col-md-6 col-sm-12 py-2">
            <div class="list-group">
               <span class="footer-list list-group-item list-group-item-action">Our services <i class="fas fa-arrow-circle-down"></i>
              </span>
               <a href="/about" class="footer-list list-group-item list-group-item-action">Electrical Installation and Maintenance</a>
               <a href="/contact us" class="footer-list list-group-item list-group-item-action">Fire Alarm System Installation</a>
               <a href="#" class="footer-list list-group-item list-group-item-action">Sales and Supply of all Electrical Materials</a>
               <a href="#" class="footer-list list-group-item list-group-item-action">Technical Services</a>
               <a href="#" class="footer-list list-group-item list-group-item-action">General Merchandise</a>
               <a href="#" class="footer-list list-group-item list-group-item-action">Solar Panel Installation and Maintenance</a>
            </div>
         </div>

         <div class="col-md-3 col-sm-12 py-2">
            <div class="list-group">
               <span class="footer-list list-group-item list-group-item-action">Social <i class="fas fa-arrow-circle-down"></i>
              </span>
               <a href="#" class="footer-list list-group-item list-group-item-action"><i class="fab fa-facebook-f"></i> Facebook</a>
               <a href="#" class="footer-list list-group-item list-group-item-action"><i class="fab fa-twitter"></i> Twitter</a>
               <a href="#" class="footer-list list-group-item list-group-item-action"><i class="fab fa-instagram"></i> Instagram</a>
               <a href="" class="footer-list list-group-item list-group-item-action"><i class="fas fa-envelope"></i> Email</a>
            </div>
         </div>
      </div>
   </div>

   <div class="row footer">
      <div class="col-6">
         &#x000A9; Omax Techmologies
      </div>
      <div class="col-6 text-right">
         <a href="#">Designed and developed by Fred</a>
      </div>
   </div>


</footer>
<script type="text/javascript" src="/js/sprint.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap4.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>

</html>
