<!-- <footer class="container-fluid bg-dark mt-5 fixed-bottom">
   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="">
   <p>2018 Omax Technologies</p>
</div>
<div class="mr-0">
   <a href=""><p>Designed and Developed by Fred</p></a>
</div>

      </nav>
</footer>
<script type="text/javascript" src="/js/sprint.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap4.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
</body>

</html> -->
