<% include partials/header %>
   <div class="background">
      <div class="container">
         <div class="row">
            <div class="col-sm-12 col-md-8 m-auto">
               <h1 class="lead text-center"><i class="fab fa-pagelines"></i> Our Mission <i class="fab fa-pagelines"></i></h1>
               <p class="lead text-center"> To provide top notch services in our area of expertise</p>
               <h2 class="text-center"> Our Values</h2>
               <p class="">At Omax technologies, We're committed to helping you and your company with all your safety, Electrical needs. In turn, your company can have peace of mind and achieve better productivity through our innovative safety products and electrical
                  solutions. Our success comes from one simple fact - we are keeping our promise to be the leader in providing our customers the best and the most complete safety and electrical solutions.</p>
               <h2 class="text-center"> Teamwork</h2>
               <p>Our teams work quickly to analyze and evaluate your safety and electrical needs and deliver to you solutions. We also stand strongly behind the quality of our product, installations and services. We are always ready to deliver you a complete
                  safety and electrical solutions, to support various aspects of your business. We have diverse teams working together to generate the best decisions, and for our customers.</p>
               <h2 class="text-center"> Quality and High Standards</h2>
               <p>Quality is a cornerstone of all of our activities. We seek the highest quality information, solutions, and people. We support high quality products and services. Quality and great service is woven into the fabric of everything we do.</p>
            </div>



         </div>
      </div>
   </div>
   <% include partials/footer %>
