<% include partials/header %>

   <div id="page">
      <ul class="cb-slideshow">
         <li><span>Image 01</span>
            <div>
               <h3>Electrical Installation and Maintenance</h3>
            </div>
         </li>
         <li><span>Image 02</span>
            <div>
               <h3>Fire Alarm System Installation</h3></div>
         </li>
         <li><span>Image 03</span>
            <div>
               <h3>Sales and Supply of all Electrical Materials</h3></div>
         </li>
         <li><span>Image 04</span>
            <div>
               <h3>Technical Services</h3></div>
         </li>
         <li><span>Image 05</span>
            <div>
               <h3>General Merchandise</h3></div>
         </li>
         <li><span></span>
            <div>
               <h3>Solar Panel Installation and Maintenance</h3></div>
         </li>
      </ul>
   </div>

   <div class="get_started text-center w-100">
      <button type="button" class="btn btn-default btn-lg" name="button">
         <a id="get_started" class="p-3 text-capitalize font-weight-bold" href="/fire"> Click here to get started</a>
       <i class="fas fa-angle-double-down text-center"></i>
    </button>





   </div>

   <% include partials/js %>
